@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-family: 'Oswald', sans-serif;
}

body {
    overflow: hidden;
}

#cardCarosel {
    margin-right: -70%;
}

#dtls {}